google-chrome
JetBrains
dconf
microsoft-edge-dev
autostart
monitors.xml
monitors.xml~
sublime-text/Local
pulse
yarn
transmission
evolution
Postman
FreeTube
transmission
touchegg
sublime-text/Local/
pulse
monitors.xml
mimeapps.list
jgit/config
goa-1.0
github-copilot
gcloud
cef_user_data
ibus/bus
skypeforlinux
terminator/plugins/__pycache__/
github-copilot/hosts.json
